.logo{
    height: 23%;
    width: 23%;
}

.textLogo{
    height: 23%;
    width: 40%;
}

.colorNavbar{
    background-color: black;
    margin-left: 5%;
    margin-right: 5%;
}

.fontStyle{
    font-family: Helvetica, bold !important;
    color: white !important;
}

.fontStyle:hover{
    border-bottom: solid 1.84px #1089FF !important;
}
.ml-auto{
     height: 32px;
}

.ml-auto a{
    margin-right: 15px  !important;
    margin-left: 15px !important;
}

li {
    list-style-type: none;
    height: 4vh;
    width: 2px; 
    background-color: rgb(145, 145, 145);
    margin-top: 2vh;
    margin-bottom: 2vh;
}

