.logo{
    height: 15vh;
    width: 15vh;
}

.textLogo{
    height: 9vh;
    width: 27vh;
}
.textLogoTV{
    height: 11vh;
    width: 14vh;
    margin-top: 1vh;
}

.colorNavbar{
    /* background-color: black; */
    margin-left: 5%;
    margin-right: 5%;
}

.fontStyle{
    font-family: Helvetica, bold !important;
    color: white !important;
    text-decoration: none !important;
}

.fontStyle:hover{
    border-bottom: solid 1.84px #1089FF !important;
}

.active-page{
    border-bottom: solid 1.84px #1089FF !important;
}

.ml-auto a{
    margin-right: 15px  !important;
    margin-left: 15px !important;
}


@media only screen and (max-width:1199px) {
    .textLogo{
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    .textLogoTV{
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
}