.logo{
    height: 15vh;
    width: 15vh;
}

.textLogo{
    height: 10vh;
    width: 30vh;
}
.textLogo2{
    height: 10vh;
    width: 10vh;
    padding-top: 1vh;
}

.colorNavbar{
    background-color: black;
    margin-left: 5%;
    margin-right: 5%;
}

.fontStyle{
    font-family: Helvetica, bold !important;
    color: white !important;
    text-decoration: none !important;
}

.fontStyle:hover{
    border-bottom: solid 1.84px #1089FF !important;
}

.active-page{
    border-bottom: solid 1.84px #1089FF !important;
}

.ml-auto{
     height: 32px;
}

.ml-auto a{
    margin-right: 15px  !important;
    margin-left: 15px !important;
}

.NavBarFixed{
    height: 150px!important;
    width: auto!important;
}
@media only screen and (max-width:1000px) {
    .textLogo{
    visibility: hidden;
    }
    .textLogo2{
        visibility: hidden;
        }
   }