.miniature {
    width : 15vh;
    height : 10vh;
    margin-left: 1vh;
    margin-top: 5vh;
}
.div{
    margin-left: 10vh;
}
.info {
    margin-left: 80vh;
}
.grando {
    height: 370px;
    width: 620px;
    z-index: -1;
    margin-left: 90vh;
    margin-top: 11vh;
    position: absolute
}


.global {
    width: 170vh;
}

.ButtonNews {
margin-left: 15vh;
}

.next_news {
    background-color: #000000!important;
    border: none!important;
}
.next_news:hover {
    border: none!important;
}
