li {
    list-style-type: none;
    height: 4vh;
    width: 3px; 
    background-color: rgb(145, 145, 145);
    margin-top: 1vh;
    margin-bottom: 1vh;
}

li a {
    height: 4vh;
    width: 2px; 
}
ul {
    margin-top: 20vh;
    margin-left: 1vh;
}
.colorNavbarVert{
    background-color: black;
    margin-left: 2%;
    margin-right: 5%;
}
@media only screen and (max-width:1000px) {
    .colorNavbarVert{
    visibility: hidden;
    }
   }