.blocShopVolt{
    padding-top: 9%;
    width: 75%;
    
}

.background{
    background-image: no-repeat url('../images/Logo_Volt.png')

}
.title {
    font-size: 100px !important;
    color: white;
    font-family: Helvetica; 
    font-weight: bolder;
}

.secondTitle {
    font-size: 30px !important;
    color: #1089FF;
    margin-top: 65px;
    font-family: Helvetica; 
    font-weight: 900;
}

.font{
    color: white;
    font-size: 16px;
}

.margin-button{
    margin-top: 40px;
}

.backGroundMaillot{
    background-image: url("https://www.courir.com/dw/image/v2/BCCL_PRD/on/demandware.static/-/Sites-master-catalog-courir/default/dw53d48e40/images/hi-res/001474484_101.png?sw=600&sh=600&sm=fit");
    background-position: center;
    background-size: cover;
}

