.blocShopVolt{
    padding-top: 9%;
    width: 75%;
    
}

.title {
    font-size: 100px !important;
    color: white;
    font-family: Helvetica; 
    font-weight: bolder;
}

.secondTitle {
    font-size: 30px !important;
    color: #1089FF;
    margin-top: 65px;
    font-family: Helvetica; 
    font-weight: 900;
}

.font{
    color: white;
    font-size: 16px;
}

.margin-button{
    margin-top: 40px;
}
.Arriere {
    z-index: -1;
    position: absolute;
    margin-left: 70vh;
}
.content{
    z-index: 0;
}
.gros {
    height: 75vh;
}