.blocShopVolt{
    padding-top: 9%;
    width: 90%;
    z-index: 0;
}

.font {
    font-family: Helvetica;
}

.title {
    font-size: 100px !important;
    color: white; 
    font-weight: bolder;
}

.secondTitle {
    font-size: 30px !important;
    color: #1089FF;
    font-weight: 900;
}

.voltshop-content{
    color: white;
    font-size: 16px;
}

.margin-button{
    margin-top: 40px;
}

.backgroundImage {
    z-index: -1;
    position: absolute;
    margin-left: 50%;
}

.jerseySize {
    height: 75vh;
}

@media (max-width: 1480px){
    .backgroundImage{
        margin-left: 35%;
    }
}

@media (min-width: 1183px){
    .secondTitle{
        margin-top: 65px;
        margin-left: 50px;
    }
}

@media (min-width: 1123px){
    .secondTitle{
        margin-top: 65px;
    }
}

@media (max-width: 1123px){
    .secondTitle{
        margin-top: 10px;
    }
    .voltshop-content{
        margin-top:10px;
    }
}

@media (max-width: 1100px){
    .backgroundImage{
        margin-left: 25%;
    }
}