.containerWebTV{
    width:80%
}

.containerWebTV .styleWebTV{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #1089FF;
    height: 65vh;
    margin-top: 2vh;
}
